.sp_jRO5K3M1lkr_1_5x {
    background-image: url(/rsrc.php/v3/ye/r/WLha-hKtGBD.png);
    background-size: 26px 338px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px
}
cách sử dụng: <i class="_3-90 _8o _8s lfloat _ohe img sp_jRO5K3M1lkr_1_5x sx_253570"></i>

.sp_jRO5K3M1lkr_1_5x.sx_4201f5 {
    width: 20px;
    height: 20px;
    background-position: 0 -52px
}

.sp_jRO5K3M1lkr_1_5x.sx_68f983 { cái cặp
    background-position: 0 -74px
}

.sp_jRO5K3M1lkr_1_5x.sx_267cf9 { cái đồng hồ
    background-position: 0 -92px
}

.sp_jRO5K3M1lkr_1_5x.sx_4f452f { <!--icon sóng wifi-->
    background-position: 0 -110px
}


.sp_jRO5K3M1lkr_1_5x.sx_1b36a3 { icon trái tim
    background-position: 0 -128px
}

.sp_jRO5K3M1lkr_1_5x.sx_873ff3 { ngôi nhà
    background-position: 0 -146px
}

.sp_jRO5K3M1lkr_1_5x.sx_b68ef4 { cái cặp
    background-position: 0 -164px
}

.sp_jRO5K3M1lkr_1_5x.sx_39b171 { cái cọc GPS
    background-position: 0 -182px
}

.sp_jRO5K3M1lkr_1_5x.sx_8485ca { bong bóng messenger
    background-position: 0 -200px
}


.sp_jRO5K3M1lkr_1_5x.sx_9a6e4a { dấu tick
    width: 12px;
    height: 12px;
    background-position: 0 -268px
}


.sp_jRO5K3M1lkr_1_5x.sx_81e58e { ngôi sao
    width: 12px;
    height: 12px;
    background-position: 0 -310px
}

<i class="_3-90 _8o _8s lfloat _ohe img sp_4FURXLSr66f_1_5x sx_0f0828"></i>  icon sinh nhật

._5h_j {
    border: 1px solid;
    box-sizing: border-box
}

._pvf .img.img {
    border-radius: 0
}

._5h_l {
    border-radius: 3px;
    height: 16px;
    line-height: 1;
    padding: 1px;
    width: 16px
}

._5h_o {
    border-radius: 4px;
    height: 36px;
    width: 36px
}

._5pmc {
    border-color: #3578e5
}

html ._5pmd {
    border-color: #dadde1
}

._5h_q, ._5h_t {
    position: relative
}

._5h_q {
    margin: -10px auto 0;
    top: 50%
}

